.forgot-container {
  @apply flex justify-center items-center h-screen;

  .wrapper {
    border: 1px solid var(--other-purple-stroke-color);
    box-shadow: var(--light-shadow);
    border-radius: calc(8 / 16) * 1em;
    overflow: hidden;
    display: flex;
    margin: 16px;
  }
  .splash {
    width: calc(737 / 16) * 1em;
  }

  @media screen and (max-width: 980px) {
    .splash {
      display: none;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: calc(72 / 16) * 1em;
    width: calc(593 / 16) * 1em;

    .body {
      display: flex;
      gap: calc(36 / 16) * 1em;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      .logo {
        height: calc(23 / 16) * 1em;
        margin: auto;
      }
      .welcome {
        position: relative;
        .welcome-container {
          background-color: transparent;
          h1 {
            color: var(--neutral-almost-black-color);
            line-height: calc(46px / 16px) * 1rem;
            margin-bottom: calc(-53 / 16) * 1rem;
            user-select: none;
            .overlay {
              width: calc(181 / 16) * 1rem;
              height: calc(53 / 16) * 1rem;
              mix-blend-mode: lighten;
              filter: blur(16px);
              transform: translateX(0%) translateY(-100%);
              background-image: linear-gradient(
                25deg,
                #009aff 0%,
                #5134ff 50%,
                #7100ff 100%
              );
            }
          }
        }
        span {
          isolation: isolate;
          user-select: none;
          color: var(--neutral-body-text-color);
          margin-top: calc(24 / 16) * 1rem;
          display: inline-block;
        }
      }
      form {
        isolation: isolate;
        display: flex;
        gap: calc(36 / 16) * 1em;
        flex-direction: column;
        width: calc(500 / 16) * 1em;
        text-align: left;
        .input-control {
          margin-bottom: 0px;
        }
        input {
          width: 100%;
        }
        .password-input {
          padding-right: calc(51 / 16) * 1em;
        }
      }
      @media screen and (max-width: 480px) {
        form {
          width: 100%;
        }
      }
    }
    .footer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1vh;
    }
  }
}
