.check-container {
  display: flex;
  padding-left: 30 / 16 * 1em;
  position: relative;
  cursor: pointer;
  color: #181c30;
  user-select: none;
  font-family: "Mona Sans";
  font-size: 16 / 16 * 1em;
  line-height: 110%;
  letter-spacing: 2%;
  font-weight: normal;
}

/* Hide the browser's default checkbox */
.check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.check-container span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 20 / 16 * 1em;
  width: 20 / 16 * 1em;
  border: 1px solid var(--accents-purple-color);
  border-radius: 4px;
  margin: 0;
}

/* On mouse-over, add a grey background color */
.check-container:hover input ~ span {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.check-container input:checked ~ span {
  background-color: var(--accents-purple-color);
  -color: var(--accents-purple-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
span:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check-container input:checked ~ span:after {
  display: block;
}

/* Style the checkmark/indicator */
.check-container span:after {
  position: absolute;
  left: 6px;
  top: 2px;
  border-radius: 2px;
  width: 7px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
